<div class="container my-5">
    <div class="row p-4 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Premium Calculator</h1>
        <br/>
        <p class="lead">Please enter your details below to calculate monthly premium:</p>
        <br/>
        <div class="lead">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" >
        </div>
        <br/>
        <div class="lead">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" id="dateOfBirth" >
        </div>
        <br/>
        <div class="lead">
          <label for="sumInsured" class="form-label">Sum Insured</label>
          <input type="number" class="form-control" id="sumInsured" >
        </div>
        <br/>
        <div class="lead">
          <label for="occupation" class="form-label">Occupation</label>
          <select class="form-select" id="occupation" >
            <option>test</option>
          </select>
        </div>
        <br/>
        <br/>
        <p class="display-6 text-primary">Death Premium is $1234.56</p>
        <p class="display-6 text-secondary">TPD Premium Monthly is $1234.56</p>
      </div>
    </div>
  </div>
  